html,body {margin: 0; padding: 0;}
body {
    background: #fafafa;
    font-family: 'Open Sans', Verdana;
    font-weight: 300;
  border-top: solid 10px #33F;
}

h1,h2,h3,h4 {
	font-family: 'Open Sans Condensed', Arial;
}

h1 {
  margin: 0;
  padding: 0;
  margin-top: -20px;
  margin-bottom: 10px;
  padding-left: 10px;
}

h1 a:visited,
h1 a:active
h1 a {
  color: #FFF;
}

h1 a:hover {
  top: 3px;
}

h1 a {
  transition: top .2s;
  -webkit-transition: top .2s;
  position:relative;
  text-decoration: none;
  display: inline-block;
  background: #33F;
  font-family: Impact;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
  padding: 3px 8px;
}
h1 small {
  font-size: 20px;
  text-decoration: underline;
}
.hero-unit {
  margin: 0;
  margin-top: 10px;
}

.file-dropper {
	border: 2px solid #bada55;
	border-radius: 5px;
	padding: 25px;
	cursor: pointer;
}
.file-dropper .empty-notice {
	color: #bbb;
	display: block;
	text-align: center;
}
.file-dropper.has-file .empty-notice {
	display: none;
}
#preview-wrap {
	width: 800px;
	margin: 0 auto;
  position: relative;
  vertical-align: middle;
  background: #ddf;
}
#preview-wrap .controls:before {
  content: "";
  display: block;
  position:absolute;
  top: 50%;
  margin-top: -10px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #ddf;
}
#preview-wrap .controls {
  background: #eee;
  position: absolute;
  top: 20px;
  bottom: 20px;
  padding: 10px;
  width: 200px;
  right: -220px;
}

#canvas-wrap {
  text-align: center;
}
#preview-wrap .control {
	margin-left: 20px;
}
#preview-wrap .controls label {
	display: block;
	font-weight: bold;
}
.listing-wrapper {
  float: right;
  width: 200px;
  padding: 10px;
  border: solid 1px #ccc;
}


.memes-wrapper {
  border: solid 1px #ccc;
  border-top: none;
  height: 150px;
  position: relative;
}
.memes-wrapper .list-wrap {
  overflow-x: scroll;
}
.memes-wrapper .list-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25px;
  background: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  line-height: 150px;
  padding: 0 10px;
  display: block;
  z-index: 1;
}
.memes-wrapper .list-nav-back {
  left: 0;
  border-right: 1px solid #ddd;
}
.memes-wrapper .list-nav-next {
  right: 0;
  border-left: 1px solid #ddd;
}
.memes-wrapper .list-nav:hover {
  background: rgba(200, 200, 200, 0.9);

}
.meme-listing {
  width: auto;
  overflow: hidden;
  padding: 10px 0;
  margin: 0;
}
.meme-listing li {
  list-style: none;
  width: 125px;
  height: 125px;
  float: left;
  margin: 0 10px;
  text-align: center;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.meme-listing li:hover {
  box-shadow: 0 0 5px #111;
}
.meme-listing li img {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}