body {
    background: #fafafa;
    font-family: 'Open Sans', Verdana;
    font-weight: 300;
}

h1,h2,h3,h4 {
	font-family: 'Open Sans Condensed', Arial;
}

.hero-unit {
  margin: 0;
  margin-top: 10px;
}

.file-dropper {
	border: 2px solid #bada55;
	border-radius: 5px;
	padding: 25px;
	cursor: pointer;
}
.file-dropper .empty-notice {
	color: #bbb;
	display: block;
	text-align: center;
}
.file-dropper.has-file .empty-notice {
	display: none;
}
#preview-wrap {
	border: 1px solid #333;
	width: 600px;
	margin: 0 auto;
  position: relative;
}
#preview-wrap .controls {
  position: absolute;
  top: -1px;
  border: solid 1px;
  padding: 10px;
  width: 200px;
  right: -250px;
}
#preview-wrap .canvas-wrap {
	float: left;
}
#preview-wrap .control {
	margin-left: 20px;
}
#preview-wrap .controls label {
	display: block;
	font-weight: bold;
}
.listing-wrapper {
  float: right;
  width: 200px;
  padding: 10px;
  border: solid 1px #ccc;

}
.memes-wrapper {
  float: left;
  width: 200px;
  padding: 10px;
  border: solid 1px #ccc;
}
.meme-listing {
  margin: 0;
  padding: 10px;
}
.meme-listing li {
  padding: 0;
  margin: 10px;
  list-style: none;
  width: 150px;
  text-align: center;
}
.meme-listing li img {
  height: 100px;
}
.meme-listing li img:hover {
  outline: solid 10px orange;
}