html,body {margin: 0; padding: 0;}
html {
  height: 100%;
}
body {
  min-height: 100%;
  background: url(../images/sos.png) #fafafa;
  font-family: 'Open Sans', Verdana;
  font-weight: 300;
  position: relative;
  min-width: 960px;
  border-top: solid 10px #5E77C7;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

h1,h2,h3,h4 {
	font-family: 'Open Sans Condensed', Arial;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
  margin-top: -20px;
  margin-bottom: 10px;
  padding-left: 10px;
}

h1 a:visited,
h1 a:active,
h1 a {
  color: #FFF;
}

h1 a:hover {
  top: 3px;
}

h1 a {
  transition: top .2s;
  -webkit-transition: top .2s;
  position:relative;
  text-decoration: none;
  display: inline-block;
  background: #5E77C7;
  font-family: Impact;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
  padding: 3px 8px;
}
h1 small {
  font-size: 20px;
  text-decoration: underline;
}
.hero-unit {
  margin: 0;
  margin-top: 10px;
  text-align: center;
  position: relative;
}

.main-container {
  margin: 0 auto;
  text-align: center;
}
.main-container h2 {
  margin-bottom: 15px;
}

.file-dropper {
	border: 2px solid #bada55;
	border-radius: 5px;
	padding: 25px;
	cursor: pointer;
}
.file-dropper .empty-notice {
	color: #bbb;
	display: block;
	text-align: center;
}
.file-dropper.has-file .empty-notice {
	display: none;
}
#preview-wrap {
	display: inline-block;
  /*min-height: 600px;
  height: 700px;*/
	margin: 0 auto;
  position: relative;
  vertical-align: middle;
  text-align: left;
  /*background: #ddf;*/
}
/*#preview-wrap .controls:before {
  content: "";
  display: block;
  position:absolute;
  top: 50%;
  margin-top: -10px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #ddf;
}*/

.editing #back-to-images {
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
}
#back-to-images {
  display: none;
}
#preview-wrap .final-step {
  background: #eee;
  position: absolute;
  top: 20px;
  bottom: 20px;
  width: 200px;
  right: -210px;
}
#preview-wrap .controls {
  background: #eee;
  position: absolute;
  top: 20px;
  bottom: 20px;
  width: 200px;
  left: -210px;
}
#preview-wrap .control.first {
  border-bottom: 1px solid #bbb;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#preview-wrap .controls textarea {
  resize: none;
  border: 1px solid #bbb;
  border-radius: 2px;
  font-size: 18px;
  font-family: 'Open Sans';
  margin: 0;
  width: 180px;
  padding: 5px;
}

#preview-wrap .controls .select-wrap {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

#preview-wrap .controls select {
  width: 130px;
}
.chosen-container {
  font-size: 14px;
}


#canvas-wrap {
  text-align: center;
  position: relative;
  /*top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
  /*position: relative;*/
}

.kineticjs-content {
  /*display: table;*/
  /**/
}
#preview-wrap .memes-wrapper {
  background: #eee;
  position: absolute;
  top: 20px;
  bottom: 20px;
  padding: 10px;
  width: 280px;
  left: -300px;
  overflow-y: scroll;
}

a.btn {
  display: inline-block;
  padding: 10px 15px;
  background: #5E77C7;
  color: #eee;
  border-radius: 3px;
  text-decoration: none;
  margin: 5px 0;
  -webkit-transition: all linear .1s;
  -moz-transition: all linear .1s;
  -ms-transition: all linear .1s;
  transition: all linear .2s;
  box-shadow: inset 0px -3px 7px rgba(0, 0, 0, 0.3);
}
a.btn:hover {
  color: #fff;
  background: #6480DB;
  box-shadow: inset 0px 3px 7px rgba(0, 0, 0, 0.3);
}
/*
.memes-wrapper {
  border: solid 1px #ccc;
  border-top: none;
  float: left;
  position: relative;
}*/
/*.memes-wrapper .list-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25px;
  background: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  line-height: 150px;
  padding: 0 10px;
  display: block;
  z-index: 1;
}
.memes-wrapper .list-nav-back {
  left: 0;
  border-right: 1px solid #ddd;
}
.memes-wrapper .list-nav-next {
  right: 0;
  border-left: 1px solid #ddd;
}
.memes-wrapper .list-nav:hover {
  background: rgba(200, 200, 200, 0.9);
}
.memes-wrapper {
  position:absolute;
  left: 0;
  top: 40px;
  bottom: 20px;
  width: 134px;
  overflow-y: scroll;
}
*/
.memes-wrapper {
  width: 550px;
  margin: 0 auto;
  border: 1px solid #bbb;
  border-radius: 5px;
}
.meme-listing {
  margin: 0;
  padding: 0;
}
.meme-listing li {
  list-style: none;
  width: 125px;
  height: 125px;
  float: left;
  margin: 5px;
  padding: 0;
  text-align: center;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.meme-listing li:hover {
  box-shadow: 0 0 5px #111;
}
.meme-listing li img {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.meme-listing li span {
  display: none;
}






.step-wrapper {
  position: relative;
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
}
.step-wrapper .step {
  max-width: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: all ease-out .4s;
}
body .step-edit {
  left: 200%;
}
body .step-select {
  left: 0;
}
body.editing .step-select {
  left: -200%;
}
body.editing .step-edit {
  left: 0;
}


.vex-content {
  text-align: center;
}
/* Loading thingy-ma-bobber */
.bowlG{
position:relative;
width:25px;
height:25px;
}

.bowl_ringG{
position:absolute;
width:25px;
height:25px;
border:2px solid #073DE0;
-moz-border-radius:25px;
-webkit-border-radius:25px;
-ms-border-radius:25px;
-o-border-radius:25px;
border-radius:25px;
}

.ball_holderG{
position:absolute;
width:7px;
height:25px;
left:9px;
top:0px;
-moz-animation-name:ball_moveG;
-moz-animation-duration:1.4s;
-moz-animation-iteration-count:infinite;
-moz-animation-timing-function:linear;
-webkit-animation-name:ball_moveG;
-webkit-animation-duration:1.4s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-timing-function:linear;
-ms-animation-name:ball_moveG;
-ms-animation-duration:1.4s;
-ms-animation-iteration-count:infinite;
-ms-animation-timing-function:linear;
-o-animation-name:ball_moveG;
-o-animation-duration:1.4s;
-o-animation-iteration-count:infinite;
-o-animation-timing-function:linear;
animation-name:ball_moveG;
animation-duration:1.4s;
animation-iteration-count:infinite;
animation-timing-function:linear;
}

.ballG{
position:absolute;
left:0px;
top:-6px;
width:10px;
height:10px;
background:#003A91;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-ms-border-radius:8px;
-o-border-radius:8px;
border-radius:8px;
}

@-moz-keyframes ball_moveG{
0%{
-moz-transform:rotate(0deg)}

100%{
-moz-transform:rotate(360deg)}

}

@-webkit-keyframes ball_moveG{
0%{
-webkit-transform:rotate(0deg)}

100%{
-webkit-transform:rotate(360deg)}

}

@-ms-keyframes ball_moveG{
0%{
-ms-transform:rotate(0deg)}

100%{
-ms-transform:rotate(360deg)}

}

@-o-keyframes ball_moveG{
0%{
-o-transform:rotate(0deg)}

100%{
-o-transform:rotate(360deg)}

}

@keyframes ball_moveG{
0%{
transform:rotate(0deg)}

100%{
transform:rotate(360deg)}

}